<%- include('partials/dashbar') %>

<script>
    document.title = "Welcome to the Dashboard! | HOSTELRY";
</script>

<section id="dashboard" class="dashboard">
    <div class="container">
        <div class="user-details">
            <h2>Hello, <%= messages[0].name.split(' ')[0] %> </h2>
            <hr>
            <p class="user-data">Full Name: <span><%= messages[0].name %></span></p>
            <p class="user-data">University Roll Number: <span><%= messages[0].uroll %></span></p>
            <p class="user-data">College Roll Number: <span><%= messages[0].croll %></span></p>
            <p class="user-data">Hostel Number: <span><%= messages[0].hostel %></span></p>
            <p class="user-data">Room Number: <span><%= messages[0].room %></span></p>
            <p class="user-data">Batch Details: <span><%= messages[0].batch %></span></p>
            <p class="user-data">Permanent Address: <span><%= messages[0].address %></span></p>
            <hr><p class="last-para">If you want to pay mess bill or, any other payment like fine etc. then click <a href="/payment">Here</a>.</p>
        </div>
    </div>
</section>

<%- include('partials/footer') %>